@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'raleway';
  src: url('../public/font/RalewayFont.ttf');
}
@font-face {
  font-family: 'caskaydia';
  src: url('../public/font/CaskaydiaCoveNerdFont.ttf');
}

@layer base {
  html {
    font-family: 'raleway';
  }
  h1 {
    @apply px-4 py-3 font-bold text-5xl bg-gradient-to-r from-indigo-600/30 to-70% rounded-xl;
  }
  h2 {
    @apply px-4 py-2 font-bold text-4xl bg-gradient-to-r from-indigo-700/30 to-60% rounded-xl;
  }
  h3 {
    @apply px-4 py-2 font-bold text-3xl bg-gradient-to-r from-indigo-700/30 to-50% rounded-xl;
  }
  h4 {
    @apply px-4 py-2 font-bold text-2xl bg-gradient-to-r from-indigo-700/30 to-40% rounded-xl;
  }
  h5 {
    @apply px-4 py-2 font-bold text-xl bg-gradient-to-r from-indigo-700/30 to-30% rounded-xl;
  }
}
